<div class="right_100">
<div *ngFor="let menuItem of menu | async" >
    <a routerLink="/{{menuItem.type}}/{{menuItem.title}}/{{menuItem.id}}">{{menuItem.title}}</a>
</div>

<div class="form-inline" *ngIf="true">
  <input [(ngModel)]="newItem.title" class="d-inline form-control"  placeholder="titre"  /><select   class="d-inline form-control" [(ngModel)]="newItem.type" >
    <option *ngFor="let item of typeList" value="{{item}}">{{item}}</option>
    </select><button  (click)="addMenu()" >Add</button>

</div>

</div>
