<div class="right">
  <ng-container *ngIf="!pDisplay.navigation">
   <app-create-form (create)="createEntity()" [newItem]=newItem [typeList]=typeList></app-create-form>
  </ng-container>
  <app-display-mode-command textEdit="Edite le menu" textPlacement="Clique sur un menu puis sur un autre pour les intervertire" ></app-display-mode-command>
  <div class="">
    <div *ngFor="let dd of oeuvres" class="column-o d-inline-block align-top">
      <div
        *ngFor="let d of dd"
        (click)="click(d, $event)"
        (mousemove)="mousemove(d, $event)"
        (mouseover)="moushover(d, $event)"
        class="{{ class(d) }}"
      >
        <app-page-element-table
          [element]="d"
          [pDisplay]="pDisplay"
          (updateElement)="update($event)"
          (deleteElement)="delete($event)"
        ></app-page-element-table>
      </div>
    </div>
  </div>
</div>
