
.img-configure{
    vertical-align: top;
    width:1em ;
    height:1em;
}

.admin{
    width : fit-content;
    position:absolute;
    z-index:100;
    margin-top: -2em
}

.oeuvre{
    display: inline-flex;
   width: 40em;
}
.column-display{
    column-width: 41em;
}
.oeuvre-img{
width: 39em;
}
#side-menu{
    position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 20em;
}

#current-view{

        top: 0;
        margin-left: 21em;
        height: 100%;
}

#admin-global{
  position: fixed;
        top: 0;
        right: 0;


}

.simple-input{
    max-width : 30em;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-top : 20%;

}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}