
.img-configure{
    vertical-align: top;
    width:1em ;
    height:1em;
}

.admin{
   float:left;
    z-index:1000;
}
.admin-show{
    position : absolute;
    background : black;
}
.oeuvre{
 margin: auto;
    display: inline-flex;
   width: 20em;
}
.column-display{
    column-width: 20em;
}
.form-label{
    font-size: 1.5em;
}
.file-send>.form-group>.form-control{
       opacity: 0;
       margin-top: -2.5em;
       width: 2.5em;
       padding: 0;
       margin-bottom: 0;
}
.file-send>.form-group{
    margin-bottom: 0;
}
.oeuvre-img{
 width: 20em;
}
#side-menu{
    position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 20em;
}

#current-view{

        top: 0;
        margin-left: 21em;
        height: 100%;
}

#admin-global{
  position: fixed;
        top: 0;
        right: 0;


}
.control-elm{
    display: inline-block;
}

.scroll-ctrl{
    width : 15 em;

}
.simple-input{
    max-width : 30em;
}
.list{
    background-color : #FFDA36;
    z-index : 1000;
}
.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin-top : 20%;
    background-image: url("/api/image/8.jpg");
}
.img-sm{
    height  : 10em;
    margin : auto;
    display : inline-flex
}
.img-sm img{
    height  : 10em;
    margin : auto;

}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.sub-menu-item, .menu-item{
    cursor: pointer;
}
.overall{
     position : fixed;
     z-index: 2000;
     top:0;
     left:0;
    width: 100%;
    height:100%;
}
.sub-menu-item{

 color: #771919;
    background-color: #fff70357;
    border-color: #1e1e01;
}
.menu-item{
 color: #771919;
    background-color: #fff70357;
    border-color: #1e1e01;
}
.btn {
    color: #771919;
    background-color: #fff70357;
    border-color: #1e1e01;
}
.mirror{
    transform: rotate(180deg);
}
.r-arrow {
    transform: rotate(180deg);
    background-image: url(../image/arrow.svg);
    width:2.2em;
    height:2em;
     background-repeat:no-repeat;

}
.l-arrow {

    background-image: url(../image/arrow.svg);
    width:2.2em;
    height:2em;
     background-repeat:no-repeat;

}

.btn:hover {
    color: #bd1414;

    border-color: #005cbf;
}
.oeuvre-text{
    position: absolute;
    font-family: Lato, sans-serif;
    text-align: left;
    color: gold;
    width: inherit;

/*    background-color: #00000047;*/

}
.text {
    opacity: 1
}

.oeuvre-title{
    font-style: italic;
}
img  {
  transition: .75s ease-in-out;
}
 .oeuvre-text{
               transition: 1.2s ease-in-out;
             }
  .img-cont,.oeuvre,.l-arrow,.r-arrow {
             transition: .75s ease-in-out;
           }
.oeuvre-text{
    width: 17em;
    opacity: 0;
}
.oeuvre:hover .oeuvre-img {
  opacity: .5;
  background-color:green;
}

.img-cont{
 padding:1em;
 background-color:transparent;
}
.oeuvre:hover .img-cont{
   padding:0.5em;
margin:0.5em;
   background-color:black;
}
.oeuvre:hover .oeuvre-text{
  margin-top:1.5em;
  margin-left:3em;
  opacity: 1;
  z-index:100;
}