<div class="container select-elements">
<ng-container  *ngFor="let e of elementsBy3; index as i" >
  <div *ngIf="i % 3 ===0; else cell" class="row">
    <ng-container *ngTemplateOutlet="cell" data-="e[0]">

    </ng-container>
  </div>
 <ng-template #cell let-el></ng-template>
    <div class="col d-inline-block">
      <img
      src="{{ pDisplay.src(e) }}"
      alt="{{ pDisplay.alt(e) }}"
      class="img-thumbnail"
    />
    <input
      type="checkbox"
      [(ngModel)]="state[i]"
      (change)="change(e, $event.target.value === 'on')"
    />
    </div>


  </ng-container>
</div>
